
<html>
<head>
    <title>实时计算</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../../static/plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/plugin/highchart_edit/highcharts-editor.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,700|Source Sans:400,300,100">
    <script src="../../static/plugin/jquery.min.js"></script>
    <script src="../../static/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://code.highcharts.com/adapters/standalone-framework.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://code.highcharts.com/highcharts-more.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://code.highcharts.com/modules/data.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/funnel.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="../../static/plugin/highchart_edit/highcharts-editor.min.js"></script>
    <script src="../../static/plugin/highchart_edit/highcharts-editor.advanced.min.js"></script>
</head>

<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			a
		</div>
		<div class="span2">
			b
		</div>
		<div class="span8">
			c
		</div>
	</div>
</div>
</body>

</html>